fastapi[all]
sqlalchemy
psycopg2-binary

openpyxl

scikit-learn
pandas
numpy
matplotlib
seaborn
xgboost

# dowhy
torch
# lightgbm
catboost

# https://pypi.org/project/auto-sklearn/
auto-sklearn

# https://auto.gluon.ai/stable/install.html
autogluon

# https://causalnex.readthedocs.io/en/latest/02_getting_started/02_install.html
causalnex

# apt-get install graphviz graphviz-dev
pygraphviz
